.new-tweet {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: lightgrey;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 0px;
}

.new-tweet textarea {
  width: 100%;
}

.new-tweet .counter {
  float: right;
}
